<h1>About Me</h1>
<p>
   
Name: Garrett Dyer
    <br>
    <br>
    
Email: <a href="mailto:Dyergd@etsu.edu">Dyergd@etsu.edu</a>
</p>
<br>
<p>
    I have implemented an additional feature that allows you to anonymously submit reviews for the movies in our collection!

    
</p>